
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #211747;
}
footer{
    background-color: #0f0826;
    height: 100%;
    margin-top: auto;
    text-align: center;
}
.imgFooter{
    margin-top: 10px;
    height: 90px;
}
.textoFooter{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

main{
    flex-grow: 1;
    margin-top: 90px;
}
table , td , th , tr{
    border: solid 2px rgb(35, 50, 95);
    border-collapse: collapse;
}
.estrella{
    color: yellow;
}
.tacho{
    color: gray;
}
.lapiz{
    color: black;
}

.estrella{
    color: yellow;
}
.tacho{
    color: gray;
}
.lapiz{
    color: black;
}


.navbar {
    background-color: #0f0826;
    position: fixed;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: 90px;
}

.navImg {
    height: 20px;
    margin-bottom: 160px;
}

.navLogo {
    height: 170px;
    object-fit: cover;
}














